.Welcome {

    margin-left: 520px;
    margin-top: -80px;
    height: 400px;
    width: 500px;
    background-color: rgb(201, 128, 32);
    border: 1 px solid rgb(18, 17, 17);
}

.inspectComp,
.duelComp {

    margin-left: 520px;
    margin-top: 100px;
    height: 250px;
    width: 500px;
    background-color: rgb(201, 128, 32);
    border: 1 px solid rgb(18, 17, 17);
}

#userName1 {

    margin-top: 10rem;
    margin-left: -65px;
}

#userName2 {

    margin-top: 10rem;
    margin-left: -25px;
}

#styleBtnInspect {

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-left: 60px;
    background-color: rgb(158, 36, 36);
    border-radius: 0.5rem;
}

.styleTable {

    margin-top: 1px;
    margin-left: 130px;
    justify-self: center;


}

#userName0 {

    margin-left: 48px;
    margin-top: 10rem;
}

.welcomeTitle {
    margin-top: 180px;
    text-align: center;

}

.adjustMarginTitle {
    margin-top: 30px;
    padding-top: 13rem;
    font-size: x-large;
    font-weight: 100;

}

.welcomeButtonsDiv {

    margin-top: 20px;
    align-items: center;

}

.buttonInspect,
.buttonDuel {

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 70px;
    background-color: rgb(149, 136, 136);
    border-radius: 0.5rem;

}

.styleLink {

    text-decoration: none;

}

.middleBar {

    margin-left: 55px;
    font-weight: bolder;
}

.displayResult {

    margin-left: 400px;
    margin-top: 5px;
    padding-left: 6rem;
}

.styleTableResult {

    border: 2px solid rgb(40, 185, 50);
    border-radius: 2rem;
}

.tdStyle {

    border: 2px solid rgb(158, 36, 36);
    border-radius: 2rem;
    padding: 4rem;

}

.duelResultsDiv {

    margin-left: 400px;
    margin-top: 55px;
    padding-left: 6rem;
    padding-right: 6rem;
}

.spacingTd {

    padding-right: 50px;

}

.winnerStatus {
    text-align: center;

}

h3 {
    margin-top: 20px;
    margin-left: 570px;
    margin-bottom: 50px;
}